&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; molecules-block-sandbox }}
	{{&gt; molecules-intro-text }}
	{{&gt; molecules-cross-nav:abler-active }}
	{{&gt; molecules-primary-nav-abler:home-active }}
	{{# page-content }}
		{{&gt; molecules-page-content }}
	{{/ page-content }}
	{{&gt; organisms-latest-posts }}
	{{&gt; organisms-footer }}	
&lt;/div&gt;