&lt;nav class=&quot;{{ styleModifier }}&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a class=&quot;home&quot; href=&quot;{{ link.templates-aa-home }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;projects&quot; href=&quot;{{ link.templates-aa-about }}&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;courses&quot; href=&quot;{{ link.templates-aa-guides }}&quot;&gt;Courses&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;reports&quot; href=&quot;{{ link.templates-aa-archive }}&quot;&gt;Reports&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;