<h3>Color Palette</h3>
<br>
<table>
	<tr>
		<th>Default</th>
		<th>High Contrast</th>
		<th>Low Contrast</th>
	</tr>
	<tr>
		<td>
			<ul class="sg-colors">
				<li>
					<span class="sg-swatch" style="background: #ff0000;"></span>
					<span class="sg-label">#ff0000</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ff00;"></span>
					<span class="sg-label">#00ff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #0000ff;"></span>
					<span class="sg-label">#0000ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffff00;"></span>
					<span class="sg-label">#ffff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ffff;"></span>
					<span class="sg-label">#00ffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ff00ff;"></span>
					<span class="sg-label">#ff00ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffffff;"></span>
					<span class="sg-label">#ffffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #808080;"></span>
					<span class="sg-label">#808080</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #000000;"></span>
					<span class="sg-label">#000000</span>
				</li>
			</ul>
		</td>
		<td>
			<ul class="sg-colors">
				<li>
					<span class="sg-swatch" style="background: #ff0000;"></span>
					<span class="sg-label">#ff0000</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ff00;"></span>
					<span class="sg-label">#00ff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #0000ff;"></span>
					<span class="sg-label">#0000ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffff00;"></span>
					<span class="sg-label">#ffff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ffff;"></span>
					<span class="sg-label">#00ffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ff00ff;"></span>
					<span class="sg-label">#ff00ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffffff;"></span>
					<span class="sg-label">#ffffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #808080;"></span>
					<span class="sg-label">#808080</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #000000;"></span>
					<span class="sg-label">#000000</span>
				</li>
			</ul>
		</td>
		<td>
			<ul class="sg-colors">
				<li>
					<span class="sg-swatch" style="background: #ff0000;"></span>
					<span class="sg-label">#ff0000</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ff00;"></span>
					<span class="sg-label">#00ff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #0000ff;"></span>
					<span class="sg-label">#0000ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffff00;"></span>
					<span class="sg-label">#ffff00</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #00ffff;"></span>
					<span class="sg-label">#00ffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ff00ff;"></span>
					<span class="sg-label">#ff00ff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #ffffff;"></span>
					<span class="sg-label">#ffffff</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #808080;"></span>
					<span class="sg-label">#808080</span>
				</li>
				<li>
					<span class="sg-swatch" style="background: #000000;"></span>
					<span class="sg-label">#000000</span>
				</li>
			</ul>
		</td>
	</tr>
</table>
<hr>
<h3>Color Variables</h3>
<br>
<table>
	<tr>
		<th>Default</th>
		<th>High Contrast</th>
		<th>Low Contrast</th>
	</tr>
	<tr>
		<td>
			<ul>
				<li>Primary</li>
				<li>Warning</li>
				<li>Secondary</li>
				<li>Success</li>
				<li>Warning</li>
				<li>Info</li>
				<li>Body Background</li>
				<li>Text</li>
				<li>Link</li>
				<li>Link Hover</li>
				<li>Link Active</li>
			</ul>			
		</td>
		<td>
			<ul>
				<li>Primary</li>
				<li>Warning</li>
				<li>Secondary</li>
				<li>Success</li>
				<li>Warning</li>
				<li>Info</li>
				<li>Body Background</li>
				<li>Text</li>
				<li>Link</li>
				<li>Link Hover</li>
				<li>Link Active</li>
			</ul>			
		</td>
		<td>
			<ul>
				<li>Primary</li>
				<li>Warning</li>
				<li>Secondary</li>
				<li>Success</li>
				<li>Warning</li>
				<li>Info</li>
				<li>Body Background</li>
				<li>Text</li>
				<li>Link</li>
				<li>Link Hover</li>
				<li>Link Active</li>
			</ul>			
		</td>
	</tr>
</table>
<hr>
<h3>Fonts</h3>
<hr>
<p>Primary font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Georgia, Times, "Times New Roman", serif;</strong></p>