&lt;div class=&quot;expanded&quot;&gt;
	&lt;img src=&quot;{{ img.sandbox-expanded.src }}&quot; alt=&quot;{{ img.sandbox.alt }}&quot; /&gt;
&lt;/div&gt;
&lt;div class=&quot;collapsed&quot;&gt;
	&lt;img src=&quot;{{ img.sandbox-collapsed.src }}&quot; alt=&quot;{{ img.sandbox.alt }}&quot; /&gt;
&lt;/div&gt;