<!-- Begin Footer -->
<footer role="contentinfo">
	<p>This three-part web site documents the work of <a href="{{ link.templates-sara-hendren-homepage }}">Sara Hendren</a>, tracks the research of the <a href="{{ link.templates-aa-homepage }}">Adaptation + Ability Group at Olin College</a>, and houses the ongoing <a href="{{ link.templates-abler-homepage }}">Abler</a> archive. It’s good you’re here. Some bodies do some things, and others do others. Prosthetics, bodily capacity, expanded engineering and creative research, flexible adaptation, possible futures, interdependence, collaborative design, open augmentation, inclusive systems, critical making, and—we hope—we try—humility in the face of complexity.</p>
</footer>
<!-- End Footer -->