&lt;nav class=&quot;{{ styleModifier }}&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a class=&quot;home&quot; href=&quot;{{ link.templates-abler-home }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;about&quot; href=&quot;{{ link.templates-abler-about }}&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;guides&quot; href=&quot;{{ link.templates-abler-guides }}&quot;&gt;Guides&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;archive&quot; href=&quot;{{ link.templates-abler-archive }}&quot;&gt;Archive&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;