&lt;nav class=&quot;{{ styleModifier }}&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;a class=&quot;home&quot; href=&quot;{{ link.templates-sh-home }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;projects&quot; href=&quot;{{ link.templates-sh-projects }}&quot;&gt;Projects&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;talks-essays&quot; href=&quot;{{ link.templates-sh-talk-essays }}&quot;&gt;Talks + Essays&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;reading-notes&quot; href=&quot;{{ link.templates-sh-reading-notes }}&quot;&gt;Reading Notes&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;