&lt;section&gt;
	&lt;h2&gt;Latest Posts&lt;/h2&gt;
	&lt;ul&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;a href=&quot;#&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;