<nav class="{{ styleModifier }}">
	<ul>
		<li class="abler"><a href="{{ link.templates-abler-home }}">Abler</a></li>
		<li class="aa"><a href="{{ link.templates-aa-home }}">Adaptation + Ability Group</a></li>
		<li class="sarahendren"><a href="{{ link.templates-sh-home }}">Sara Hendren</a></li>
	</ul>
</nav>