<nav class="{{ styleModifier }}">
	<ul>
		<li class="abler"><a href="{{ link.templates-abler-homepage }}">Abler</a></li>
		<li class="aa"><a href="{{ link.templates-aa-homepage }}">Adaptation + Ability Group</a></li>
		<li class="sarahendren"><a href="{{ link.templates-sara-hendren-homepage }}">Sara Hendren</a></li>
	</ul>
</nav>