<nav>
	<ul>
		<li><a href="{{ link.templates-abler-about }}">Projects</a></li>
		<li><a href="{{ link.templates-abler-guides }}">Talks + Essays</a></li>
		<li><a href="{{ link.templates-abler-archive }}">Reading Notes</a></li>
	</ul>
</nav>