<nav class="{{ styleModifier }}">
	<ul>
		<li><a class="home" href="{{ link.templates-aa-home }}">Home</a></li>
		<li><a class="projects" href="{{ link.templates-aa-about }}">Projects</a></li>
		<li><a class="courses" href="{{ link.templates-aa-guides }}">Courses</a></li>
		<li><a class="reports" href="{{ link.templates-aa-archive }}">Reports</a></li>
	</ul>
</nav>