<nav>
	<ul>
		<li><a href="{{ link.templates-abler-about }}">About</a></li>
		<li><a href="{{ link.templates-abler-guides }}">Guides</a></li>
		<li><a href="{{ link.templates-abler-archive }}">Archive</a></li>
	</ul>
</nav>