<nav>
	<ul>
		<li><a href="{{ link.templates-aa-about }}">Projects</a></li>
		<li><a href="{{ link.templates-aa-guides }}">Courses</a></li>
		<li><a href="{{ link.templates-aa-archive }}">Reports</a></li>
	</ul>
</nav>