<nav class="{{ styleModifier }}">
	<ul>
		<li><a class="home" href="{{ link.templates-sh-home }}">Home</a></li>
		<li><a class="projects" href="{{ link.templates-sh-projects }}">Projects</a></li>
		<li><a class="talks-essays" href="{{ link.templates-sh-talk-essays }}">Talks + Essays</a></li>
		<li><a class="reading-notes" href="{{ link.templates-sh-reading-notes }}">Reading Notes</a></li>
	</ul>
</nav>