<nav class="{{ styleModifier }}">
	<ul>
		<li><a class="home" href="{{ link.templates-abler-home }}">Home</a></li>
		<li><a class="about" href="{{ link.templates-abler-about }}">About</a></li>
		<li><a class="guides" href="{{ link.templates-abler-guides }}">Guides</a></li>
		<li><a class="archive" href="{{ link.templates-abler-archive }}">Archive</a></li>
	</ul>
</nav>