<div class="page" id="page">
	{{> molecules-block-sandbox }}
	{{> organisms-welcome-message }}
	{{> molecules-cross-nav }}
	{{> molecules-primary-nav-abler }}
	{{> molecules-page-content }}
	{{> organisms-latest-posts }}
	{{> organisms-footer }}	
</div>