&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; molecules-block-sandbox:collapsed }}
	{{&gt; molecules-intro-text }}
	{{&gt; molecules-cross-nav:abler-active }}
	{{&gt; molecules-primary-nav-abler:guides-active }}
	{{&gt; organisms-guides }}
	{{&gt; organisms-footer }}	
&lt;/div&gt;