/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

nav li {
	display: inline-block;
}
nav li:after {
	content: " •";
}
nav li:last-child:after {
	content: "";
}

.sara-active .sarahendren,
.abler-active .abler,
.aa-active .aa,
.about-active .about,
.guides-active .guides,
.archive-active .archive,
.projects-active .projects,
.courses-active .courses,
.reports-active .reports,
.talks-essays-active .talks-essays,
.reading-notes-active .reading-notes,
.home-active .home {
	font-weight: bold;
}