/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

nav li {
	display: inline-block;
}
nav li:after {
	content: " •";
}
nav li:last-child:after {
	content: "";
}

.sara-active .sarahendren,
.abler-active .abler,
.aa-active .aa {
	font-weight: bold;
}