<div class="expanded">
	<img src="{{ img.sandbox-expanded.src }}" alt="{{ img.sandbox.alt }}" />
</div>
<div class="collapsed">
	<img src="{{ img.sandbox-collapsed.src }}" alt="{{ img.sandbox.alt }}" />
</div>