&lt;nav class=&quot;{{ styleModifier }}&quot;&gt;
	&lt;ul&gt;
		&lt;li class=&quot;abler&quot;&gt;&lt;a href=&quot;{{ link.templates-abler-home }}&quot;&gt;Abler&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;aa&quot;&gt;&lt;a href=&quot;{{ link.templates-aa-home }}&quot;&gt;Adaptation + Ability Group&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;sarahendren&quot;&gt;&lt;a href=&quot;{{ link.templates-sh-home }}&quot;&gt;Sara Hendren&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;