<div>
    <a href="{{ url }}">
		<div>
			{{> atoms-square }}
			<h3>{{ headline.short }}</h3>
			<p>{{ month.long }} {{ day.long }}{{ date.ordinal }}, {{ year.long }}</p>
			<p>{{ excerpt.short }}</p>
		</div>
	</a>
</div>