<section>
	<h2>Latest Posts</h2>
	<ul>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
		<li>{{> molecules-media-block }}</li>
	</ul>
	<a href="#">View more posts</a>
</section>