<section>
	<ul class="g g-3up">
		<li class="gi">{{> molecules-block-inset }}</li>
		<li class="gi">{{> molecules-block-inset }}</li>
		<li class="gi">{{> molecules-block-inset }}</li>
	</ul>
	<a href="#">View more posts</a>
</section>