&lt;section&gt;
	&lt;ul class=&quot;g g-3up&quot;&gt;
		&lt;li class=&quot;gi&quot;&gt;{{&gt; molecules-block-inset }}&lt;/li&gt;
		&lt;li class=&quot;gi&quot;&gt;{{&gt; molecules-block-inset }}&lt;/li&gt;
		&lt;li class=&quot;gi&quot;&gt;{{&gt; molecules-block-inset }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;a href=&quot;#&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;